modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "React Development Server"

[[workflows.workflow]]
name = "React Development Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33695
externalPort = 3001

[[ports]]
localPort = 36425
externalPort = 3000

[[ports]]
localPort = 37857
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "serve"]
build = ["npm", "run", "build"]
